<html>
<head>
    <meta charset="UTF-8">
    <title>
        Ультрапарсер hh
    </title>
    <!--    подключение css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--    <link href="main.css" rel="stylesheet">-->
</head>
<body>
<!-- Тут будет тело страницы-->
<!--    h1-h6 размер заголовков-->
<h1>
    Ультрапарсер hh
</h1>
<h2>
    Это главная страница
</h2>
<h3>Информация о системе</h3>
<!--    p - для нового абзаца-->
<p>
    Парсер умеет получать вакансиии с hh
<!--    br - для переноса строки-->
    <br>
    <br />
    И умеет считать среднюю зарплату и основные требования к вакансии
</p>
<p>
    Можно задать различные параметры поиска
</p>

<!--<p style="color: aqua;">-->
<p class="proverb">
    Успешная карьера начинается с Ультрапарсера!
</p>

<!--a - ссылка на другую страницу, href - адрес страницы-->
<a href="form.html">Начать поиск</a>
<br>
<a href="contacts.html">Наши контакты</a>

</body>
</html>