<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
         <li>
            <a href="/contacts/">Контакты</a>
        </li>
        <li>
            <a href="/results/">Результаты</a>
        </li>
        <li>
            <a href="/run/">Запуск</a>
        </li>
    </ul>
    <h1>Парсер вакансий с hh.ru</h1>
    <hr>
    <p>
        Парсер умеет получать вакансии по запросу, считать среднюю зп
    </p>
    {{main_data.a}}
    {{main_data["b"]}}
    {{main_data.c}}

    {{name}}
    {{age}}

    <p class="alert">Ищи вакансии с нами!</p>
</body>
</html>